@{
    ViewData["Title"] = "NoDelete";
}

<h1>Advertencia</h1>
<br />
<br />
<br />
<h3>No es posible eliminar el registro seleccionado</h3>
<hr />
<br />
<br />
<br />
<h5>Existe información relacionada con este registro en otras tablas de la base de datos!</h5>
<br />
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <a asp-action="Index" class="btn btn-success">Regresar</a>
        </div>
  </div>
