@model GeoPlus.Models.ProyectoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-controller="Proyecto" asp-action="Edit" method="post" class="mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <partial name="_Proyecto" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>$(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
     });</script>

}
